*{
    margin: 0;
    padding: 0;

}

/* navbar stying start */
.navbar{
    display: flex;
    height: 50px;
    background-color: #5a727a;
    justify-content: space-between;
    padding: 10px;
    justify-items: center;
}
.logo{
    padding-left: 20px;
}
.logo img{
    height: 40px;
}
.navbar-items{
    display: flex;
    padding-right: 30px;
}
.navbar-nav{
    display: flex;
    justify-items: center;
    gap: 50px;
    padding: 15px;
    padding-right: 90px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: azure;
    
}
.resume{
    height: 40px;
    background-color: #5806fb;
    padding-top: 10px;
    padding: 0 20px;
    border-radius: 30px;
    border:1px solid;
}
.resume a{
    text-decoration: none;
    color: azure;
    
}

/* navbar stying end */

/* home page styling start */
.home{
    display: flex;
    background-color: #3d3c3c;
    justify-content: space-between;
    padding: 40px;
}
.home-info{
    margin: 30px;
}
.home-info p{
    padding-top: 70px;
    font-size: 30px;
}
.home-info h1{
    font-size: 40px;
}
.home-skills{
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    list-style: none;
    margin: 20px;
    cursor: pointer;
}


.conect a{
    margin: 20px;
    border: 1px solid black;
    /* height: 30px; */
    /* width: 70px; */
    background-color: #31cba7;
    border-radius: 13px;
    text-decoration: none;
    color: azure;
}
.hero-img img{
    border-radius: 50%;
    margin: 30px;
}
/* home page styling end */

/* About page styling start */
.about-value{
    background-color: #eee0e0;
}
.text-center{
    text-align: center;
    padding: 40px;
}
.text-center h2 , p {
    padding: 10px;
}
.text-center h2{
    font-size: 34px;
}
.text-center p{
    font-size: 18px;
}

.about{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding:  0px 40px;
    padding-bottom: 30px;

}
.about-img img{
    border-radius: 13px;
}
.about-text{
    width: 400px;
    position: relative;

}
.about-text p{
    font-size: 18px;
}
.about-text button{
    position: absolute;
    bottom: 50px;
    left: 20px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background: #ee9797;
    font-size: 16px;
    color: aliceblue;
    cursor: pointer;
}
/* About page styling end*/

/* project page styling start */
.projects{
    display: flex; 
    /* gap: 10px; */
    justify-content: space-between;
    padding: 30px;
}
.project{
    /* background-color: #ece4e4; */
    width: 23%;
    border: 2px solid #f1f1f1;
}
.project-desc{
 padding:10px;
}
.project-links{
    display: flex;
    padding: 15px;
    justify-content: space-between;
}
.link-btn{
    height: 25px;
    width: 60px;
    border-radius: 13px;
    text-align: center;
    /* margin: 10px; */
    border: 2px solid #f1f1f1;
    border-right-color: #4e7b90;
    text-decoration: none;
}
/* project page styling end  */